html {
	background-image: url("../../images/bckgrdImages/background_3.png");
	background-repeat: repeat;
	background-size: 100%;
	padding: 0px;
	margin: 0px;
}
body {
	padding: 0px;
	padding-top: 100px;
	padding-bottom: 0px;
	margin: 0px;
}
@font-face {
	font-family: ClearSans;
	src: url('../fonts/ClearSans-Regular.ttf');
}
@font-face {
	font-family: ClearSansBold;
	src: url('../fonts/ClearSans-Bold.ttf');
}
@keyframes fadein{
	from {
		opacity: 0;
	}
	to   {
		opacity: 1;
	}
}
div.sec {
	margin-bottom: 40px;
}
div.probStateSec {
	border: 2px solid #051F29;
	width: 70%;
	margin: auto;
	margin-bottom: 20px;
}
h1 {
	color: white;
	font-size: 80px;
	text-align: center;
	margin: auto;
	font-family: ClearSansBold;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
h2 {
	color: #051F29;
	font-size: 40px;
	text-align: center;
	margin: auto;
	font-family: ClearSansBold;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
hr.headerUnderline {
	border-color: #00A2A7;
	width: 100px;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    z-index: -1;
}
div#DeliverablesCont {
	width: 80%;
	min-width: 600px;
	height: 600px;
	background-color: #F2F4F4;
	margin: auto;
	border-radius: 10px;
	margin-top: 50px;
	font-family: ClearSans;
}
div#DeliverablesCont > ul {
	background-color: #051F29;
	padding: 0px;
	margin: 0px auto;
	width: 100%;
	border-bottom: 2px solid black;
	height: 25px;
}
div#DeliverablesCont > ul > li {
	display: inline;
	width: 33%;
	font-size: 1em;
	padding: 10px;
	border-radius: 3px;
	border-top: 1px solid black;
}
a.TabTarget:active {
  color: blue;
}
a.TabTarget:link {
  text-decoration: none;
  color: #F2F4F4;
}
a.TabTarget:visited {
  text-decoration: none;
  color: #F2F4F4;
}
a.TabTarget:hover {
	color: #00A2A7;
}
div.deliverableInfo {
	width: 100%;
	height: 100%;
	position: relative;
	margin-top: 10px;
	border: 1px solid black;
}
div.tab-info {
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
	z-index: -1;
	font-family: ClearSansBold;
	width: 100%;
	height: 100%;
	max-height: 800px;
	overflow-y: scroll;
	box-shadow: 5px 10px 18px white;
	margin-top: 10px;
	background-color: #F2F4F4;
}
div.deliverableInfo > div:first-child {
	z-index: 1;
}
#deli1:target {
	z-index: 1;
	background-color: #051F29;
}
#deli2:target {
	z-index: 1;
	background-color: #051F29;
}
#deli3:target {
	z-index: 1;
	background-color: #051F29;
}
#deli4:target {
	z-index: 1;
	background-color: #051F29;
}
#deli5:target {
	z-index: 0;
	background-color: #051F29;
}
table {
	border-spacing: 0;
	width: 80%;
	margin: auto;
}
tr td:first-child{ 
	text-align: left;
	max-width: 200px;
}
table th:first-child {
	border-left: 1px solid black;
}
th {
	font-size: 1em;
	padding: 0px 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #00A2A7;
	background-image: radial-gradient(#051F29, #051F29);
	color: white
}
table td:first-child {
	border-left: 1px solid black;
	padding: 10px;
}
td {
	text-align: center;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #F2F4F4;
}
svg.flowChart {
	margin: auto;
	margin-bottom: 30px;
	display: block;
}
div.backgroundBox {
	background-color: rgba(5, 31, 41, 1.0);
	width: auto;
	height: auto;
	max-width: 1200px;
	border-radius: 10px;
	margin: 10px auto;
	text-align: center;
	padding-bottom: 20px;
	z-index: -1;
	overflow-y: hidden;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
div.backgroundBox2 {
	background-color: transparent;
	width: auto;
	height: auto;
	max-width: 800px;
	border-radius: 10px;
	margin: 10px auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
	z-index: -1;
	overflow-y: hidden;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
.center {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
 	width: 100%;
}
.center2 {
	width: 90%;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  
}