html {
	background-image: url("../../images/bckgrdImages/background_3.png");
	background-repeat: repeat;
	background-size: 100%;
	padding: 0px;
	margin: 0px;
}
body {
	padding: 0px;
	padding-top: 100px;
	padding-bottom: 0px;
	margin: 0px;
}
@font-face {
	font-family: ClearSans;
	src: url('../fonts/ClearSans-Regular.ttf');
}
@font-face {
	font-family: ClearSansBold;
	src: url('../fonts/ClearSans-Bold.ttf');
}
@keyframes fadein{
	from {
		opacity: 0;
	}
	to   {
		opacity: 1;
	}
}
h1 {
	color: white;
	font-size: 80px;
	text-align: center;
	margin: auto;
	font-family: ClearSansBold;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
h2 {
	color: #051F29;
	font-size: 40px;
	text-align: center;
	margin: auto;
	font-family: ClearSansBold;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
hr.headerUnderline {
	border-color: #00A2A7;
	width: 100px;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    z-index: -1;
}
div.backgroundBox {
	background-color: rgba(5, 31, 41, 1.0);
	color: white;
	width: 70%;
	max-width: 1200px;
	min-width: 700px;
	border-radius: 10px;
	margin: 10px auto;
	text-align: center;
	padding: 20px;
	z-index: -1;
	overflow-y: hidden;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
table.tableBreakDown {
	margin: auto;
	width: 90%;
	border: 1px solid #00A2A7;
	text-align: left;
	table-layout:fixed;
	border-spacing: 10px 10px;
	margin-bottom: 10px;
	font-family: ClearSans;
}
tr.TBDrow {
	margin-bottom: 10px;
}
tr.TBDrow > th:first-child {
	width: 50%;
}
tr.TBDrow > td:first-child {
	width: 50%;
}
tr.TBDrow > th:last-child {
	width: 50%;
}
tr.TBDrow > td:last-child {
	width: 50%;
}
table.tableBreakDown > tbody > tr > th {
	text-align: center;
	font-size: 1.5em;
}
div.riskMatrixSec {
	font-family: ClearSans;
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 95%;
	min-width: 650px;
}
div.riskMatrixSec > h3 {
	color: white;
	font-size: 30px;
}
h3.probability {
	width: 100%;
	padding-left: 80px;
}
h3.impact {
	transform: rotate(-90deg);
	text-align: center;
}
table.risk {
	margin: auto;
	width: 85%;
	text-align: left;
	table-layout:fixed;
	border-spacing: 0px;
	font-family: ClearSans;
}
table.risk > tbody > tr > th {
	text-align: center;
	border: 1px solid #00A2A7;
}
table.risk > tbody > tr > td {
	text-align: center;
	border: 1px solid #00A2A7;
}
.grey {
	background-color: grey;
	height: 50px;
	color: black;
}
.red {
	background-color: red;
	height: 50px;
	color: black;
}
.brown {
	background-color: #DD6C1E;
	height: 50px;
	color: black;
}
.yellow {
	background-color: yellow;
	height: 50px;
	color: black;
}
.green {
	background-color: green;
	height: 50px;
	color: black;
}
