html {
	background-image: url("../../images/bckgrdImages/background_3.png");
	background-repeat: repeat;
	background-size: 100%;
	padding: 0px;
	margin: 0px;
}
body {
	padding: 0px;
	padding-top: 100px;
	padding-bottom: 0px;
	margin: 0px;
}
@font-face {
	font-family: ClearSans;
	src: url('../fonts/ClearSans-Regular.ttf');
}
@font-face {
	font-family: ClearSansBold;
	src: url('../fonts/ClearSans-Bold.ttf');
}
@keyframes fadein{
	from {
		opacity: 0;
	}
	to   {
		opacity: 1;
	}
}
h1 {
	color: white;
	font-size: 80px;
	text-align: center;
	margin: auto;
	font-family: ClearSansBold;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
h2 {
	color: #051F29;
	font-size: 40px;
	text-align: center;
	margin: auto;
	text-shadow: 2px 1px white;
	font-family: ClearSansBold;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
hr.headerUnderline {
	border-color: #00A2A7;
	width: 100px;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    z-index: -1;
}
div.backgroundBox {
	background-color: rgba(5, 31, 41, 1.0); 
	width: auto;
	height: auto;
	max-width: 1200px;
	border-radius: 10px;
	margin: 10px auto;
	text-align: center;
	padding: 20px;
	z-index: -1;
	overflow-y: hidden;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
div.headerSec {
	width: 100%;
}
div.headerSec > h1 {
	font-size: 80px;
}
div.wbsSec {
	color: white;
	text-align: left;
	width: 50%;
	font-family: ClearSans;
}
div.wbsSec > ol {
	margin: auto;
	width: 250px;
}
div.wbsSec > ol > ol {
	list-style-type: lower-alpha;
}
div.wbsSec > ol > ol > ol {
	list-style-type: upper-roman;
}
div.backgroundBox {
	background-color: rgba(5, 31, 41, 1.0);
	width: auto;
	height: auto;
	max-width: 1200px;
	border-radius: 10px;
	margin: 10px auto;
	text-align: center;
	padding-bottom: 20px;
	z-index: -1;
	overflow-y: hidden;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
.center {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
 	width: 100%;
}
