* {
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
	font-size: 25px;
}

header {
	/* background-image: url(../img/books.jpg); 
	height: 100vh; */
	background-size: cover;
	background-position: center;
}

ul {
	float: right;
	list-style-type: none;
	margin-top: 25px;
	margin-right: 20px;
}

ul li {
	display: inline-block;
}

ul li a {
	text-decoration: none;
	color: #fff;
	padding: 8px 30px;
	border: 1px solid #fff;
	background-color: rgba(8,189,78,0.27);
	transition: 0.3s ease;
}

ul li a:hover {
	background-color: #fff;
	color: #000;
}

ul li.active a {
	background-color: #fff;
	color: #000;
}

.logo img {
	float: left;
	margin-top: 20px;
	width: 300px;
	height: auto;
}

.main {
	max-width: 1800px;
	margin: auto;
}

.home {
	background-image: url(../img/phone.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.banner {
	font-size: 50px;
	font-weight: bold;
	float: left;
	margin-top: 15px;
	background-color: rgba(255,255,255,0.5);
	margin-left: 25px;
	margin-right: 100px;
	padding-left: 20px;
	padding-right: 20px;
}

.layout {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 600px;
	padding-right: 600px;
	background-color: rgba(0,0,0,0.5);
}

.photo img {
	float: center;
	margin-top: 20px;
	width: 300px;
	height: auto;
}

.center {
	margin-top: 100px;
}

.background {
	background-image: url("../img/demo_background.jpg");
  	background-repeat: repeat-x repeat-y;
  	color: white;
}