html {
	background-image: url("../../images/bckgrdImages/background_3.png");
	background-repeat: repeat;
	background-size: 100%;
	padding: 0px;
	margin: 0px;
}
body {
	padding: 0px;
	padding-top: 100px;
	padding-bottom: 0px;
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
}
@font-face {
	font-family: ClearSans;
	src: url('../fonts/ClearSans-Regular.ttf');
}
@font-face {
	font-family: ClearSansBold;
	src: url('../fonts/ClearSans-Bold.ttf');
}
@keyframes fadein{
	from {
		opacity: 0;
	}
	to   {
		opacity: 1;
	}
}
div.sec {
	margin-bottom: 40px;
}
div.probStateSec {
	border: 5px solid #051F29;
	width: 70%
	max-width: 1200px;
	margin: 10px;
	float: center;
	margin-bottom: 20px;
	background-color: #051F29;
	color: #F2F4F4;
}
h1 {
	color: white;
	font-size: 80px;
	text-align: center;
	margin: auto;
	font-family: ClearSansBold;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
h2 {
	color: white;
	font-size: 50px;
	text-align: center;
	margin: auto;
	font-family: ClearSansBold;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
hr.headerUnderline {
	border-color: #00A2A7;
	width: 100px;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    z-index: -1;
}
div.pChars {
	text-align: left;
}
div.pChars > ul {
	margin: auto;
	max-width: 1500px;
	padding: 0px;
	text-align: left;
}
div.pChars > ul > li {
	margin: 15px auto;
	opacity: 0;
	width: 80%;
	text-align: left;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    font-family: ClearSans;
}
div.pChars2 {
	
	vertical-align: middle;
}
div.pChars2 > ul {
	margin: auto;
	max-width: 1500px;
	padding: 0px;
	text-align: left;
}
div.pChars2 > ul > li {
	margin: 15px auto;
	opacity: 0;
	width: 80%;
	text-align: left;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    font-family: ClearSans;
    font-size: 18px;
}
div.Intro {
	background-color: rgba(5, 31, 41, 1.0);
	max-width: 1200px;
	border-radius: 10px;
	margin: 10px auto;
	text-align: center;
	padding: 20px;
	z-index: -1;
	overflow-y: hidden;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    color: white;
    font-family: ClearSans;
}
div.Intro > p {
	font-family: ClearSansBold;
	font-size: 22px;
	width: 70%;
	text-align: center;
	margin: 5px auto;
	color: white;
}
div.conceptBox {
	color: white;
	background-color: rgba(5, 31, 41, 1.0);
	width: 40%;
	height: auto;
	max-width: 380px;
	border-radius: 10px;
	margin: 10px auto;
	text-align: left;
	padding: 20px;
	z-index: -1;
	overflow-y: hidden;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
div.illus {
	color: white;
	background-color: rgba(5, 31, 41, 1.0);
	width: auto;
	height: auto;
	max-width: 800px;
	border-radius: 10px;
	margin: 10px auto;
	text-align: left;
	padding-bottom: 20px;
	z-index: -1;
	overflow-y: hidden;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}