html {
	background-image: url("../../images/bckgrdImages/background_3.png");
	background-repeat: repeat;
	background-size: 100%;
	padding: 0px;
	margin: 0px;
}
body {
	padding: 0px;
	padding-top: 100px;
	padding-bottom: 0px;
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
}
@font-face {
	font-family: ClearSans;
	src: url('../fonts/ClearSans-Regular.ttf');
}
@font-face {
	font-family: ClearSansBold;
	src: url('../fonts/ClearSans-Bold.ttf');
}
@keyframes fadein{
	from {
		opacity: 0;
	}
	to   {
		opacity: 1;
	}
}
div.floatDivs {
	width: 80%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
img.art {
	margin: 0px auto;
	width: 530px;
	height: 650px;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
h1 {
	color: white;
	font-size: 80px;
	text-align: center;
	margin: auto;
	font-family: ClearSansBold;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
h2 {
	color: white;
	font-size: 50px;
	text-align: center;
	margin: auto;
	font-family: ClearSansBold;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
p.quote {
	color: #F2F4F4;
	text-align: center;
	margin: auto;
	padding: 10px;
	font-size: 20px;
	font-weight: 700;
	font-family: ClearSansBold;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    z-index: -1;
    font-family: ClearSans;
}
hr.headerUnderline {
	border-color: #00A2A7;
	width: 100px;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    z-index: -1;
}
div.boxBorders {
	background-color: rgba(5, 31, 41, 1.0);
	max-width: 1200px;
	width: 100%;
	border-radius: 10px;
	margin: 10px auto;
	text-align: center;
	padding: 20px;
	z-index: -1;
	overflow-y: hidden;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
div.soluStatement {
	color: white;
	width: 80%;
}
div.solChars {
	width: 40%;
	color: white;
	font-family: ClearSans;
	text-align: left;
}