@font-face {
	font-family: ClearSans;
	src: url('fonts/ClearSans-Regular.ttf');
}
@font-face { 
	font-family: ClearSansBold;
	src: url('fonts/ClearSans-Bold.ttf');
}
div.footerContainer {
	font-family: ClearSans;
	font-size: 15px;
	color: white;
	background-color: rgba(5, 31, 41, 1.0);
	width: auto;
	height: auto;
	border-radius: 0px;
	margin: 0px auto;
	text-align: center;
	padding-top: 5px;
	margin-top: 20px;
	padding-bottom: 5px;
	width: 100%;
}
a:link {
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
	text-decoration: none;
}
a:hover {
	color: white;
	text-decoration: underline;
	text-decoration-color: white;
}
a:active {
	color: white;
	text-decoration: underline;
	text-decoration-color: white;
}
