html {
	background-image: url("../images/bckgrdImages/background_4-blur.png");
	background-repeat: repeat;
	background-size: 100%;
	padding-top: 70px;
	margin: 0px;
}
body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	display: flex;
	align-items: center;
}
@font-face {
	font-family: BigJohn;
	src: url('fonts/BIGJOHN.otf');
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to   {
		opacity: 1;
	}
}
div.backgroundBox {
	background-color: transparent;
	width: 100%;
	height: 100%;
	max-width: 1200px;
	border-radius: 10px;
	margin: 10px auto;
	margin-top: 30px;
	text-align: center;
	padding: 00px;
	z-index: 0;
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
div.backgroundBox > img {
	margin: auto;
	width: 310px;
	height: auto;
	-webkit-animation: fadein 5s;
	-moz-animation: fadein 5s; 
	-ms-animation: fadein 5s; 
    -o-animation: fadein 5s; 
    animation: fadein 5s;
    animation-fill-mode: forwards;
}
div.backgroundBox > a.link {
	background-color: #00B8FF;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 25px;
  	font-family: BigJohn;
  	cursor: pointer;
  	border-radius: 12px;
  	margin: auto;
}
div.backgroundBox > a.link:hover {
	color: #051F29;
	background-color: white;
}
div.backgroundBox > h1 {
	background: -webkit-linear-gradient(#ffd9b3, rgb(255, 204, 0));
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	font-size: 40px;
  	font-family: BigJohn;
  	margin: 0px auto;
}
hr.headerUnderline {
	border-color: #00A2A7;
	width: 100px;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    z-index: -1;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
img.lander {
	animation: shake 1s;
}
img.lander:hover {
	
}
.overlay-image {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	display: block;
 	position: relative;
 	width: 310px;
 	height: auto;
}
/* Original image */
.overlay-image .image {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
 	display: block;
 	width: 100%;
 	height: auto;
 	-webkit-animation: fadein 1s;
	-moz-animation: fadein 15s; 
	-ms-animation: fadein 1s; 
    -o-animation: fadein 1s; 
    animation: fadein 1s;
    animation-fill-mode: forwards;
}
/* Original text overlay */
.overlay-image .text {
	font-family: ClearSansBold;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	display: block;
 	color: #fff;
 	font-size: 30px;
 	line-height: 1.5em;
 	text-shadow: 2px 2px 2px #000;
 	text-align: center;
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	width: 310px;
 	height: auto;
 	-webkit-animation: fadein 1s;
	-moz-animation: fadein 1s; 
	-ms-animation: fadein 1s; 
    -o-animation: fadein 1s; 
    animation: fadein 1s;
    animation-fill-mode: forwards;
}
.overlay-image .hover {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	display: block;
 	position: absolute;
 	top: 0;
 	height: 100%;
 	width: 100%;
 	opacity: 0;
 	transition: .1s ease;
}
/* New overlay appearance on hover */
.overlay-image:hover .hover {
	opacity: 1;
}
.overlay-image .normal {
 	transition: .1s ease;
}
.overlay-image:hover .normal {
 	opacity: 0;
}
.overlay-image .hover {
 	background-color: rgba(0, 0, 0, 0.0);
}
.shadowed1 {
    -webkit-filter: drop-shadow(0px 0px 3px #051F29);
    filter: drop-shadow(0px 0px 3px #051F29);
}
.shadowed2 {
    -webkit-filter: drop-shadow(0px 0px 15px #051F29);
    filter: drop-shadow(0px 0px 15px #051F29);
}