nav.MainNav {
	width: 100%;
	background-color: #051F29;
	display: block;
	position: fixed;
	top: 0px;
	z-index: 2;
}
@font-face {
	font-family: ClearSansMed;
	src: url('fonts/ClearSans-Medium.ttf');
}
nav.MainNav > a.MenuItems:first-child {
	float: left;
}
nav.MainNav > a.MenuItems {
	float: right;
	padding: 15px;
	margin-left: 12px;
	margin-right: 12px;
	text-decoration: none;
	color: #F2F4F4;
	background-color: #051F29;
	font-family: ClearSansMed;
	font-size: 16px;
}
nav.MainNav > a.MenuItems > sub {
	font-size: 8px;
}
nav.MainNav > a:hover {
	color: #00A2A7;
}
mark {   
	background-color: transparent;
  	color: #00A2A7;
}
nav.dropdown {
  float: right;
  overflow: hidden;
}
nav.dropdown .dropButton {
  font-size: 16px;  
  border: none;
  outline: none;
  background-color: #051F29;
  padding: 14px 16px;
  color: white;
  font-family: ClearSansMed;
  margin: 0;
}
nav.MainNav a:hover, .dropdown:hover .dropButton {
  background-color: white;
  color: #00A2A7;
}
nav.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: ClearSansMed;
}
nav.dropdown-content a {
  float: none;
  color: #051F29;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
nav.dropdown-content a:hover {
  background-color: #051F29;
}
nav.dropdown:hover .dropdown-content {
  display: block;
}
nav.box1 {
  max-width: 150px;
  min-height: 50px;
  padding-left: 0px;
}
nav.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
img.logo {
  height: 50px;
  background-color: #051F29;
}