html {
	background-image: url("../images/bckgrdImages/background_3.png");
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: 100%;
	padding: 0px;
	margin: 0px;
}
body {
	padding: 0px;
	padding-top: 100px;
	padding-bottom: 0px;
	margin: 0px;
}
@font-face {
	font-family: ClearSansBold;
	src: url('fonts/ClearSans-Bold.ttf');
}
@font-face {
	font-family: ClearSans;
	src: url('fonts/ClearSans-Regular.ttf');
}
@keyframes fadein{
	from {
		opacity: 0;
	}
	to   {
		opacity: 1;
	}
}
h1 {
	color: white;
	font-size: 80px;
	text-align: center;
	margin: auto;
	font-family: ClearSansBold;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
h3 {
	color: white;
	text-align: left;
	font-size: 40px;
	margin: auto;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    z-index: -1;
    font-family: ClearSansBold;
    padding-left: 25px;
    padding-top: 10px;
}
h2 {
	color: white;
	background-color: rgba(5, 31, 41, 1.0);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 40px;
	max-width: auto;
	margin: auto;
	opacity: 0;
	-webkit-animation: fadein 1s;
	-moz-animation: fadein 1s; 
	-ms-animation: fadein 1s; 
    -o-animation: fadein 1s; 
    animation: fadein 1s;
    animation-fill-mode: forwards;
    z-index: -1;
    font-family: ClearSans;
}
hr.headerUnderline {
	border-color: #00A2A7;
	width: 100px;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    z-index: -1;
}
h1 > sub {
	font-size: 10px;
}
div.References {
	text-align: left;
	text-align: center;
	font-family: ClearSans;
	display: flex;
}
div.References > ul {
	margin: auto;
	text-align: left;
	width: 40%;
	font-family: ClearSans;
}
div.References > ul > li {
	margin-bottom: 15px;
}
div.References > ol {
	margin: auto;
	text-align: left;
	width: 80%;
	font-family: ClearSans;
	color: white;
}
div.References > ol > li {
	margin-bottom: 15px;
}
div.backgroundBox {
	background-color: rgba(5, 31, 41, 1.0);
	width: auto;
	height: auto;
	max-width: 1200px;
	border-radius: 10px;
	margin: 10px auto;
	text-align: center;
	padding-bottom: 20px;
	z-index: -1;
	overflow-y: hidden;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
div.backgroundBox2 {
	background-color: rgba(5, 31, 41, 1.0);
	width: auto;
	height: auto;
	max-width: 1200px;
	border-radius: 10px;
	margin: 10px auto;
	text-align: center;
	padding-bottom: 20px;
	z-index: -1;
	overflow-y: hidden;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
a {
	color: #00E8FF;
}
hr.divider {
	border-radius: 10px;
	width: 80%;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    z-index: -1;
}
mark.gold {
	color: #FFDA21;
}
mark.green {
	color: #83FF21;
}
mark.blue {
	color: #21FFC2;
}
mark.bluer {
	color: #0A6EFE;
}
hr.gold {
	background-color: #FFDA21;
	color: #FFDA21;
	border-color: #FFDA21;
}
hr.green {
	background-color: #83FF21;
	color: #83FF21;
	border-color: #83FF21;
}
hr.blue {
	background-color: #21FFC2;
	color: #21FFC2;
	border-color: #21FFC2;
}
hr.bluer {
	background-color: #0A6EFE;
	color: #0A6EFE;
	border-color: #0A6EFE;
}
