html {
	background-image: url("../images/bckgrdImages/background_3.png");
	background-repeat: repeat;
	background-size: 100%;
	padding: 0px;
	margin: 0px;
}
body {
	color: white;
	padding: 0px;
	padding-top: 100px;
	margin: 0px;
}
@font-face {
	font-family: ClearSans;
	src: url('fonts/ClearSans-Regular.ttf');
}
@font-face { 
	font-family: ClearSansBold;
	src: url('fonts/ClearSans-Bold.ttf');
}
h1 {
	color: white;
	font-size: 80px;
	text-align: center;
	margin: auto;
	font-family: ClearSansBold;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
h3 {
	color: white;
	text-align: center;
	margin: auto;
	font-family: ClearSansBold;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 3s;
    animation-fill-mode: forwards;
}
h2 {
	color: white;
	text-align: center;
	margin: auto;
	font-family: ClearSansBold;
	opacity: 0;
	font-size: 32px;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 3s;
    animation-fill-mode: forwards;
}
hr.headerUnderline {
	border-color: #00A2A7;
	width: 100px;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    z-index: -1;
}
hr.headerUnderlineWide {
	border-color: #00A2A7;
	width: 500px;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    z-index: -1;
}
div.MemSection {
	min-height: 300px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: auto;
}
div.TeamMemContainer {
	background-color: rgba(5, 31, 41, 1.0);
	width: 300px;
	height: 675px;
	border-radius: 10px;
	margin: 10px auto;
	text-align: center;
	padding: 20px;
	z-index: -1;
	overflow-y: hidden;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to   {
		opacity: 1;
	}
}
div.TeamMemContainer > img {
	width: 100%;
	height: auto;
	border-radius: 50px;
}
div.TeamMemContainer > h2 {
	text-align: center;
	width: 100%;
	margin: 2px auto;
	margin-top: 10px;
	font-family: ClearSansBold;
}
div.TeamMemContainer > h4 {
	text-align: center;
	width: 100%;
	margin: 2px auto;
	font-family: ClearSansBold;
}
div.TeamMemContainer > p {
	text-align: left;
	font-family: ClearSans;
}
div.Blurb {
	text-align: center;
	width: 65%;
	margin: 5px auto;
	font-family: ClearSansBold;
	font-size: 22px;
}
div.backgroundBox {
	background-color: rgba(5, 31, 41, 1.0);
	width: auto;
	height: auto;
	max-width: 1200px;
	width: 100%;
	border-radius: 10px;
	margin: 10px auto;
	text-align: center;
	padding-bottom: : 20px;
	z-index: -1;
	overflow-y: hidden;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	text-decoration-color: white;
}
a:active {
	text-decoration: underline;
	text-decoration-color: white;
}
