html {
	background-image: url("../images/bckgrdImages/background_3.png");
	background-repeat: repeat;
	background-size: 100%;
	padding: 0px;
	margin: 0px;
}
body {
	padding: 0px;
	padding-top: 100px;
	padding-bottom: 0px;
	margin: 0px;
}
@font-face {
	font-family: ClearSans;
	src: url('fonts/ClearSans-Regular.ttf');
}
@font-face {
	font-family: ClearSansBold;
	src: url('fonts/ClearSans-Bold.ttf');
}
@keyframes fadein{
	from {
		opacity: 0;
	}
	to   {
		opacity: 1;
	}
}
h1 {
	color: white;
	font-size: 80px;
	text-align: center;
	margin: auto;
	font-family: ClearSansBold;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
h2 {
	color: #051F29;
	font-size: 40px;
	text-align: center;
	margin: auto;
	font-family: ClearSansBold;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
hr.headerUnderline {
	border-color: #00A2A7;
	width: 100px;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    z-index: -1;
}
hr.section {
	padding-top: 10px;
	border-radius: 5px
	width: 80%;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    z-index: -1;
}
.sTutee {
	background-color: #F0FF00;
	color: #F0FF00;
	border-color: #F0FF00;
}
.sTutor {
	background-color: #00FF6C;
	color: #00FF6C;
	border-color: #00FF6C;
}
.sTester {
	background-color: #00CDFF;
	color: #00CDFF;
	border-color: #00CDFF;
}
div.backgroundBox {
	background-color: rgba(5, 31, 41, 1.0);
	width: auto;
	height: auto;
	max-width: 1200px;
	border-radius: 10px;
	margin: 10px auto;
	text-align: center;
	padding: 20px;
	z-index: -1;
	overflow-y: hidden;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    font-size: 22px;
}
div.headerSec {
	width: 100%;
}
div.headerSec > h1 {
	font-size: 80px;
}
div.userRoles {
	color: white;
	/*
	text-align: left;
	width: 50%;
	padding: 20px 20px;
	font-family: ClearSans;
	margin-bottom: 20px;
	*/
}
div.userStories {
	color: white;
	text-align: left;
	width: 1080px;
	padding-left: 80px;
	padding-right: 80px;
	font-family: ClearSans;
}
div.userStories > ul {
	/*
	list-style-type: none;
	*/
}
div.backgroundBox > ul > li {
	font-size: 22px;
}
div.backgroundBox > ul > li > b {
	font-family: ClearSansBold;
}
div.backgroundBox > ol > li {
	font-size: 15px;
}
div.backgroundBox > ol > li > b {
	font-family: ClearSansBold;
}
table.roles {
	margin: auto;
	width: 85%;
	text-align: left;
	table-layout:fixed;
	border-spacing: 0px;
	font-family: ClearSans;
	border-color: white;
	border-radius: 10px;
}
table.roles > tbody > tr > th {
	border: 1px solid white;
}
table.roles > tbody > tr > td {
	border: 1px solid white;
}
.grey {
	background-color: rgba(255, 255, 255, 0.2);
	width: 50%;
	height: 50%;
	text-align: center;
}
.transparent {

}
img.rolePics {
	width: 45%;
	height: 30%;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.tutee {
	color: #F0FF00;
}
.tutor {
	color: #00FF6C;
}
.tester {
	color: #00CDFF;
}
