html {
	background-image: url("../images/background_4.png");
	background-repeat: repeat;
	background-size: 100%;
	padding: 0px;
	margin: 0px;
}
body {
	padding: 0px;
	padding-top: 100px;
	padding-bottom: 0px;
	margin: 0px;
}
@font-face {
	font-family: ClearSansBold;
	src: url('fonts/ClearSans-Bold.ttf');
}
@keyframes fadein{
	from {
		opacity: 0;
	}
	to   {
		opacity: 1;
	}
}
h1 {
	color: white;
	font-size: 80px;
	text-align: center;
	margin: auto;
	font-family: ClearSansBold;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
h3 {
	color: white;
	text-align: center;
	font-size: 40px;
	margin: auto;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    z-index: -1;
    font-family: ClearSansMed;
    padding-left: 25px;
    padding-top: 10px;
}
hr.headerUnderline {
	border-color: #00A2A7;
	width: 100px;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    z-index: -1;
}
h1 > sub {
	font-size: 10px;
}
div.pres {
	display: flex;
	justify-content: center;
	opacity: 0;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
    z-index: -1;

}
div.pres > iframe {
	box-shadow: 5px 10px 18px #888888;
}
iframe {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
div.sec {
	max-width: 1400px;
	margin: auto;
	text-align: center;
}
div.backgroundBox {
	background-color: rgba(5, 31, 41, 1.0);
	width: auto;
	height: auto;
	max-width: 1200px;
	border-radius: 10px;
	margin: 10px auto;
	text-align: left;
	padding-bottom: : 20px;
	z-index: -1;
	overflow-y: hidden;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
div.backgroundBox2 {
	background-image: 
		radial-gradient(
			rgba(5, 31, 41, 1.0), 
			rgba(5, 31, 41, 1.0)
		);
	width: auto;
	height: auto;
	max-width: 1200px;
	border-radius: 10px;
	margin: 10px auto;
	text-align: center;
	padding-bottom: : 20px;
	z-index: -1;
	overflow-y: hidden;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
a {
	color: white;
}